
body {
    background-color:#98CEF5;
    margin: 0;
    padding:0;
    background-image: url("Foton/DSC09301.JPG");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    
    }

    h2 {
        color: #F5F5C9;
        margin: 0px;
        padding: 0px;
        text-align: center;
        text-size-adjust: 30px;
        
        
        
    }
    .rubrik {
        
    }

.biografi {
border: 9px;
color: rgb(156, 132, 65);
background-color:#F5F5C9 ;
margin-top: 200px;
float: left;
padding: 40px;
margin: 200px 300px 20px 50px;
font-family: monospace;

}

.container {
   width: 80%;
   margin: 0 auto;
   
}

header {
    border: 5px;
    background-color: #A86968;
    margin-top: 10;
    padding: 20px;
    position: relative;
    font-family: 'Roboto Mono', monospace;
    font-size: 10;
    background-image: url("Foton/DSC09256.JPG");
background-position: 0px;
background-size: 50%;
background-repeat: no-repeat;

 
    

}  



nav ul {
margin: 0;
padding: 0;
list-style: none;
text-align: center;


}

nav li {
 
    display: inline-block;
   
}

nav a {
    color: rgb(235, 243, 243);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    margin: 0px;
    display: block;
    transition: 0.4s;
    width: 80px;
    
}
